.section-banner {
    position: relative;
    background: $grey_light;
}

.banner {
    position: relative;
    width: 100%;

    .slick-dots {
        padding: 0;
        width: 960px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        list-style: none;

        li {
            display: inline-block;
        }

        button {
            color: rgba(255,255,255,0.5);
        }
    }
}

.slick-dots .slick-active button {
    color: rgba(255,255,255,1);
}

.banner-image {
    position: relative;
    color: white;
}

.banner-image-caption {
    position: absolute;
    top: 10%;
}

.banner-image-caption--title { 
    width: 40%;
    margin: 0;
    padding: .3em;
    text-align: right;
    background: $orange;

    .text-light {
        font-weight: 200;
    }

}

.banner-image-caption--info {
    margin: 0 0 0 7em;
    padding: .5em 1em;
    width: 30%;
    font-size: 12px;
    line-height: 13px;
    color: $black;
    background: white;

    &:before {
        position: absolute;
        bottom: 60%;
        left: 30%;
        width: 0; 
        height: 0; 
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid white;
        content: '';
    }

}

.nav-banner {
    background: rgba(0,0,0,0);
    border: 0;
}

.image-model {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 0;
}