
// Config
// --------------------------------------------------------------------------- */

$BZ_GRID_COUNT  : 12;
$BZ_GRID_GUTTER : 25px;
$BZ_GRID_MEDIUM : 40 * 1em;
$BZ_GRID_LARGE  : 64 * 1em;     

@function bz_grid_size($size) {
    @return $size / $BZ_GRID_COUNT * 100%;
}


// Style
// --------------------------------------------------------------------------- */

%bz_clearfix:after {
    display: table;
    clear: both;
    content: '';
}

.grid {
    @extend %bz_clearfix;

    margin-left: $BZ_GRID_GUTTER * -1;
    box-sizing: border-box;
}

.grid--no-gutter {
    margin-left: 0;

    > .grid__col {
        padding-left: 0;
    }

}

.grid__col {
    float: left;
    width: 100%;
    min-height: 1px;    // http://css-tricks.com/make-sure-columns-dont-collapse-horizontally/
    padding-left: $BZ_GRID_GUTTER;
    box-sizing: border-box;
}

@for $i from 1 through $BZ_GRID_COUNT {

    .grid__col--s#{$i} {
        width: bz_grid_size($i);
    }

    .grid__col--off-s#{$i} {
        margin-left: bz_grid_size($i);
    }

}

@media screen and (min-width: #{$BZ_GRID_MEDIUM}) {

    [class*="grid__col--m"] {
        margin-left: 0;
    }

    @for $i from 1 through $BZ_GRID_COUNT {
        .grid__col--m#{$i} {
            width: bz_grid_size($i);
        }

        .grid__col--off-m#{$i} {
            margin-left: bz_grid_size($i);
        }
    }

}

@media screen and (min-width: #{$BZ_GRID_LARGE}) {

    [class*="grid__col--l"] {
        margin-left: 0;
    }

    @for $i from 1 through $BZ_GRID_COUNT {
        .grid__col--l#{$i} {
            width: bz_grid_size($i);
        }

        .grid__col--off-l#{$i} {
            margin-left: bz_grid_size($i);
        }
    }

}