.section-box {
    position: relative;
    z-index: 1;
    padding-bottom: 3em;
}

.box {
    padding: .5em;
    border: 1px solid #A4A697;
    border-radius: .5em;
    background: linear-gradient( 90deg, #E3E3DD, #F2F2F2 );
    box-shadow: inset 0 0 0 1px white;
}

.box-title {
    margin: 0 0 0.3em 0;
    color: $red;
    border-bottom: 2px solid rgba( 0 , 0 , 0 , 0.3);
}

.box-anchor {
    margin-right: .3em;
    color: $black;
    float: right;
}

.article-view {
    padding: .5em;
    border-bottom: 1px solid rgba(0,0,0,0.2);

    &:last-child {
        border-bottom: 0;
    }
}

.article-anchor {
    color: $red;
}

.article-view-img {
    float: left;
    margin-right: .5em;
}
