
// Setup
// ------------------------------------------------------------------------ //

$BTN_PADDING: $space/3 $space;

@mixin btnStyle( $bg, $color: #fff ) {
    color: $color;
    background: $bg;

    &:hover,
    &:focus {

    }
}


// Base Style
// ------------------------------------------------------------------------ //

.btn {
    display: inline-block;
    padding: $BTN_PADDING;
    border: 0;
    font-family: inherit;
    line-height: $base_line_height;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: $black80;
    background: #ddd;
    cursor: pointer;
    user-select: none;
    
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    &:focus {
        outline: none;
    }

    &[disabled] {
        cursor: not-allowed;
    }

}


// Modifier
// ------------------------------------------------------------------------ //

.btn--block {
    width: 100%;
}

.btn--red {
    padding: 0;
    color: white;
    background: $red;
    border: 0;

    &:hover {
        opacity: 0.5;
    }

    &:hover,
    &:focus {
        color: white;
    }
}

.btn--wide {
    padding: .9em;
    margin-left: .3em;
}