/*! [PROJECT_NAME] | January 2015 | Suitmedia */

//  1. Font-face
//  2. Basic styles
//  3. Header
//  4. Page styles
//  5. Footer

@import "partial/normalize";
@import "partial/variables";
@import "partial/resets";
@import "partial/helpers";
@import "partial/print";

@import "mixin/mixin";
@import "modules/modules";
@import "plugin/plugin";

// 1 Font-face
// ------------------------------------------------------------------------ //



// 2 Basic styles
// ------------------------------------------------------------------------ //

* {
    box-sizing: border-box;
}

html {
    font: 400 $base_font_size $base_font_family;
    line-height: $base_line_height;
}

body {
    color: $black90;
    background: $grey_light;
}

a {
    color: $link;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $link_hover;
    }
}

label, 
input, 
button, 
select, 
textarea {
    font-family: $base_font_family;
}

figure {
    margin: 0 0 $space 0;
}

strong,
b {
    font-family: 'latobold';
}

em,
i {
    font-family: 'latoitalic';
}

strong i,
strong em,
b i,
b em,
i strong,
i b,
em strong,
em b {
    font-family: 'latobold_italic';
}

.block {
    margin-bottom: $space;
}

.container {
    width: 95%;
    max-width: 960px;
    margin: 0 auto;
}

// 3 Header
// ------------------------------------------------------------------------ //
.main-header {
    padding: .5em;
    width: 100%;
    background: $grey_light;
}

.logo {
    margin: 1em 0;
    display: inline-block;
}

.nav-primary-list {
    position: relative;
    padding: 0 1em;
    float: left;

    &:after {
        position: absolute;
        top: 0;
        left: 100%;
        color: white;
        content: '|';
    }

    &:last-child:after {
        content: '';
    }
}

.nav-primary-anchor {
    color: rgba(255,255,255,0.7);

    &:hover {
        color: rgba(255,255,255,1);

    }
}

.nav-primary {
    margin: 3em 0 0 0;
    font-size: 12px;
    float: right;

    ul {
        margin: 0 0 0 1em;
        padding: .2em 1em;
        float: left;
        background: $blue;
        list-style: none;
        border-radius: 5px;
    }
}

.nav-secondary {  

    float: right;

    ul {
        list-style: none;
    }
}

.nav-secondary-list {
    padding: 1em 0 1em 1em;
    float: left;
}

.nav-secondary-anchor {
    color: rgba(0,0,0,0.7);

    &:hover {
        color: rgba(0,0,0,1);

    }
}

// 4 Page styles
// ------------------------------------------------------------------------ //

.fix-padding {
    padding-left: 0;
}

.mini-images-img {
    margin: 0 1em;
}

.block-half {
    margin-bottom: .8em;
}

// 5 Footer
// ------------------------------------------------------------------------ //

.main-footer {
    padding: 1.5em;
    background: $grey_dark;

}

.nav-foooter-list {
    padding: 1em 0;
    list-style: none;

    li {
        padding: 0 .5em 0 0;
        float: left;
    }
}

.nav-footer-list-anchor {
    color: #717171;

    &:hover {
        color: #D6D7D0;
    }
}

.sub-footer {
    color: #717171;
}

.footer-logo {
    position: relative;
    padding: 1em 0;
    font-size: 14px;
}

.footer-logo__whychoose {
    position: absolute;
    top: 50%;
    left: -10%;
}

.footer-logo__logo {
    position: absolute;
    top: 0;
    right: 0;
}

