html,
button,
input,
select,
textarea {
    color: $black;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

address {
    font-style: normal;
}

table {
    width: 100%;
}

.browsehappy {
    background: #FFD17D;
    border-bottom: solid 1px #FFCC6F;
    color: #222;
    font-size: .8em;
    margin: 0 0 .2em;
    padding: .4em 0;
    text-align: center;
}

::-moz-selection {
    background: $selection_bg;
    color: $selection_color;
    text-shadow: none;
}

::selection {
    background: $selection_bg;
    color: $selection_color;
    text-shadow: none;
}


// Fix windows phone viewport bug - http://goo.gl/knRaIp
// ------------------------------------------------------------------------ //

@-webkit-viewport { width: device-width }
@-moz-viewport { width: device-width }
@-ms-viewport { width: device-width }
@-o-viewport { width: device-width }
@viewport { width: device-width }


// http://goo.gl/e0gJzS
// ------------------------------------------------------------------------ //

input[type="search"] {
    box-sizing: border-box;
}

