
// Typography
// ------------------------------------------------------------------------ //

$base_font_size     : 12px;
$base_line_height   : 1.6em;
$base_font_family   : 'latoregular',sans-serif;
$space              : $base_line_height;



// Colors
// ------------------------------------------------------------------------ //

$black              : #222;
$black90            : lighten($black, 10%);
$black80            : lighten($black, 20%);
$black70            : lighten($black, 30%);
$black60            : lighten($black, 40%);
$black50            : lighten($black, 50%);
$black40            : lighten($black, 60%);
$black30            : lighten($black, 70%);
$black20            : lighten($black, 80%);
$black10            : lighten($black, 90%);

$link               : #0094ed;
$link_hover         : darken($link, 10%);

$selection_bg       : #b3d4fc;
$selection_color    : $black;

$grey_light         : #e0e0e0;
$grey               : #626262;
$grey_dark          : #333333;
$red                : #ff0000;
$orange             : #ff9900;
$blue               : #006ca9;

// Break Points
// ------------------------------------------------------------------------ //

$small              : "screen and (min-width: 20em)";
$small_portrait     : "screen and (min-width: 20em) and (orientation: portrait)";
$small_landscape    : "screen and (min-width: 20em) and (orientation: landscape)";

$medium             : "screen and (min-width: 48em)";
$medium_portrait    : "screen and (min-width: 48em) and (orientation: portrait)";
$medium_landscape   : "screen and (min-width: 48em) and (orientation: landscape)";

$large              : "screen and (min-width: 60em)";

$retina             : "only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 13/10), only screen and (min-resolution: 120dpi)";









