/*! [PROJECT_NAME] | January 2015 | Suitmedia */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

address {
  font-style: normal;
}

table {
  width: 100%;
}

.browsehappy {
  background: #FFD17D;
  border-bottom: solid 1px #FFCC6F;
  color: #222;
  font-size: .8em;
  margin: 0 0 .2em;
  padding: .4em 0;
  text-align: center;
}

::-moz-selection {
  background: #b3d4fc;
  color: #222;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  color: #222;
  text-shadow: none;
}

@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
input[type="search"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.list-nostyle {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden,
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus,
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:after, .table--responsive:after,
.cf:after {
  display: table;
  clear: both;
  content: '';
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.list-inline > li {
  display: inline-block;
}

.ellipsis {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
h1,
.h1 {
  font-size: 2.36859em;
  line-height: 1.01326em;
  margin: 0 0 0.67551em 0;
}

h2,
.h2 {
  font-size: 1.77689em;
  line-height: 1.35068em;
  margin: 0 0 0.90045em 0;
}

h3,
.h3 {
  font-size: 1.333em;
  line-height: 1.2003em;
  margin: 0 0 1.2003em 0;
}

h4,
.h4 {
  font-size: 1em;
  line-height: 1.6em;
  margin: 0 0 1.6em 0;
}

h5,
.h5 {
  font-size: 0.75019em;
  line-height: 2.1328em;
  margin: 0 0 2.1328em 0;
}

h6,
.h6 {
  font-size: 0.56278em;
  line-height: 2.84302em;
  margin: 0 0 2.84302em 0;
}

p,
ul,
ol,
hr,
table {
  font-size: 1em;
  line-height: 1.6em;
  margin: 0 0 1.6em 0;
}

/*--------------------------------*\

    Responsive Table
    structure:
 
    table
    -thead
    --tr
    ---th
    -tbody
    --tr
    ---td

    Available modifier:
    * table--responsive
    * table--zebra
    * table--compact

\*--------------------------------*/
/*table*/
.table {
  text-align: left;
  background: white;
}
.table thead {
  background: #eeeeee;
}
.table thead tr {
  border-top: solid 1px #c6c6c6;
}
.table tr {
  border-bottom: solid 1px #c6c6c6;
}
.table th,
.table td {
  padding: 0.4em;
  border-right: solid 1px #c6c6c6;
}
.table th:first-child,
.table td:first-child {
  border-left: solid 1px #c6c6c6;
}

.table--responsive {
  position: relative;
  display: block;
}
@media screen and (min-width: 48em) {
  .table--responsive {
    display: table;
  }
}
.table--responsive thead {
  display: block;
  float: left;
  border-left: solid 1px #c6c6c6;
}
@media screen and (min-width: 48em) {
  .table--responsive thead {
    float: none;
    display: table-header-group;
    border-left: none;
  }
}
.table--responsive thead tr {
  display: block;
}
@media screen and (min-width: 48em) {
  .table--responsive thead tr {
    display: table-row;
  }
}
.table--responsive tbody {
  position: relative;
  display: block;
  width: auto;
  overflow-x: auto;
  white-space: nowrap;
}
@media screen and (min-width: 48em) {
  .table--responsive tbody {
    display: table-row-group;
    white-space: normal;
  }
}
.table--responsive tbody tr {
  display: inline-block;
  border-top: solid 1px #c6c6c6;
  margin-left: -4px;
}
@media screen and (min-width: 48em) {
  .table--responsive tbody tr {
    display: table-row;
    border-top: none;
  }
}
.table--responsive th,
.table--responsive td {
  display: block;
}
.table--responsive th:first-child,
.table--responsive td:first-child {
  border-left: none;
}
@media screen and (min-width: 48em) {
  .table--responsive th:first-child,
  .table--responsive td:first-child {
    border-left: solid 1px #c6c6c6;
  }
}
@media screen and (min-width: 48em) {
  .table--responsive th,
  .table--responsive td {
    display: table-cell;
  }
}
.table--responsive th + th,
.table--responsive td + td {
  border-top: solid 1px #c6c6c6;
}
@media screen and (min-width: 48em) {
  .table--responsive th + th,
  .table--responsive td + td {
    border-top: none;
  }
}

.table--zebra tbody tr:nth-child(2n) {
  background: #f6f6f6;
}

.table--compact th,
.table--compact td {
  padding: 0.2em 0.4em;
}

.btn {
  display: inline-block;
  padding: 0.53333em 1.6em;
  border: 0;
  font-family: inherit;
  line-height: 1.6em;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  color: #555555;
  background: #ddd;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.btn:focus {
  outline: none;
}
.btn[disabled] {
  cursor: not-allowed;
}

.btn--block {
  width: 100%;
}

.btn--red {
  padding: 0;
  color: white;
  background: #ff0000;
  border: 0;
}
.btn--red:hover {
  opacity: 0.5;
}
.btn--red:hover, .btn--red:focus {
  color: white;
}

.btn--wide {
  padding: .9em;
  margin-left: .3em;
}

.grid:after {
  display: table;
  clear: both;
  content: '';
}

.grid {
  margin-left: -25px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.grid--no-gutter {
  margin-left: 0;
}
.grid--no-gutter > .grid__col {
  padding-left: 0;
}

.grid__col {
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 25px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.grid__col--s1 {
  width: 8.33333%;
}

.grid__col--off-s1 {
  margin-left: 8.33333%;
}

.grid__col--s2 {
  width: 16.66667%;
}

.grid__col--off-s2 {
  margin-left: 16.66667%;
}

.grid__col--s3 {
  width: 25%;
}

.grid__col--off-s3 {
  margin-left: 25%;
}

.grid__col--s4 {
  width: 33.33333%;
}

.grid__col--off-s4 {
  margin-left: 33.33333%;
}

.grid__col--s5 {
  width: 41.66667%;
}

.grid__col--off-s5 {
  margin-left: 41.66667%;
}

.grid__col--s6 {
  width: 50%;
}

.grid__col--off-s6 {
  margin-left: 50%;
}

.grid__col--s7 {
  width: 58.33333%;
}

.grid__col--off-s7 {
  margin-left: 58.33333%;
}

.grid__col--s8 {
  width: 66.66667%;
}

.grid__col--off-s8 {
  margin-left: 66.66667%;
}

.grid__col--s9 {
  width: 75%;
}

.grid__col--off-s9 {
  margin-left: 75%;
}

.grid__col--s10 {
  width: 83.33333%;
}

.grid__col--off-s10 {
  margin-left: 83.33333%;
}

.grid__col--s11 {
  width: 91.66667%;
}

.grid__col--off-s11 {
  margin-left: 91.66667%;
}

.grid__col--s12 {
  width: 100%;
}

.grid__col--off-s12 {
  margin-left: 100%;
}

@media screen and (min-width: 40em) {
  [class*="grid__col--m"] {
    margin-left: 0;
  }

  .grid__col--m1 {
    width: 8.33333%;
  }

  .grid__col--off-m1 {
    margin-left: 8.33333%;
  }

  .grid__col--m2 {
    width: 16.66667%;
  }

  .grid__col--off-m2 {
    margin-left: 16.66667%;
  }

  .grid__col--m3 {
    width: 25%;
  }

  .grid__col--off-m3 {
    margin-left: 25%;
  }

  .grid__col--m4 {
    width: 33.33333%;
  }

  .grid__col--off-m4 {
    margin-left: 33.33333%;
  }

  .grid__col--m5 {
    width: 41.66667%;
  }

  .grid__col--off-m5 {
    margin-left: 41.66667%;
  }

  .grid__col--m6 {
    width: 50%;
  }

  .grid__col--off-m6 {
    margin-left: 50%;
  }

  .grid__col--m7 {
    width: 58.33333%;
  }

  .grid__col--off-m7 {
    margin-left: 58.33333%;
  }

  .grid__col--m8 {
    width: 66.66667%;
  }

  .grid__col--off-m8 {
    margin-left: 66.66667%;
  }

  .grid__col--m9 {
    width: 75%;
  }

  .grid__col--off-m9 {
    margin-left: 75%;
  }

  .grid__col--m10 {
    width: 83.33333%;
  }

  .grid__col--off-m10 {
    margin-left: 83.33333%;
  }

  .grid__col--m11 {
    width: 91.66667%;
  }

  .grid__col--off-m11 {
    margin-left: 91.66667%;
  }

  .grid__col--m12 {
    width: 100%;
  }

  .grid__col--off-m12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 64em) {
  [class*="grid__col--l"] {
    margin-left: 0;
  }

  .grid__col--l1 {
    width: 8.33333%;
  }

  .grid__col--off-l1 {
    margin-left: 8.33333%;
  }

  .grid__col--l2 {
    width: 16.66667%;
  }

  .grid__col--off-l2 {
    margin-left: 16.66667%;
  }

  .grid__col--l3 {
    width: 25%;
  }

  .grid__col--off-l3 {
    margin-left: 25%;
  }

  .grid__col--l4 {
    width: 33.33333%;
  }

  .grid__col--off-l4 {
    margin-left: 33.33333%;
  }

  .grid__col--l5 {
    width: 41.66667%;
  }

  .grid__col--off-l5 {
    margin-left: 41.66667%;
  }

  .grid__col--l6 {
    width: 50%;
  }

  .grid__col--off-l6 {
    margin-left: 50%;
  }

  .grid__col--l7 {
    width: 58.33333%;
  }

  .grid__col--off-l7 {
    margin-left: 58.33333%;
  }

  .grid__col--l8 {
    width: 66.66667%;
  }

  .grid__col--off-l8 {
    margin-left: 66.66667%;
  }

  .grid__col--l9 {
    width: 75%;
  }

  .grid__col--off-l9 {
    margin-left: 75%;
  }

  .grid__col--l10 {
    width: 83.33333%;
  }

  .grid__col--off-l10 {
    margin-left: 83.33333%;
  }

  .grid__col--l11 {
    width: 91.66667%;
  }

  .grid__col--off-l11 {
    margin-left: 91.66667%;
  }

  .grid__col--l12 {
    width: 100%;
  }

  .grid__col--off-l12 {
    margin-left: 100%;
  }
}
legend {
  margin-bottom: 0.8em;
}

input[type="password"] {
  font: small-caption;
  font-size: 1em;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.form__row {
  margin-bottom: 0.8em;
}

.form-label {
  display: block;
  margin-top: 0.53333em;
}

.form-input {
  padding: 0.53333em;
  border: solid 1px #bbbbbb;
  font-family: inherit;
  background: #fff;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.form-input:focus {
  border-color: #2669d3;
  outline: none;
}
.form-input[disabled] {
  cursor: not-allowed;
}

.form-input--error {
  border-color: #d32c31;
}
.form-input--error:focus {
  border-color: #d32c31;
}

.form-input--success {
  border-color: #4eb74a;
}
.form-input--success:focus {
  border-color: #4eb74a;
}

.form-input--block {
  width: 100%;
}

.form-input--wide {
  padding: 0.2em;
}

/*ol*/
.breadcrumb {
  padding: 0;
  margin-left: -0.8em;
  list-style: none;
}
.breadcrumb > li {
  position: relative;
  display: inline-block;
  padding: 0 0.8em;
}
.breadcrumb > li:after {
  position: absolute;
  right: 100%;
  color: #444;
  content: "/";
}
.breadcrumb > li:first-child:after {
  content: '';
}

/**
 * Markup
 * <ul class="paging">
 *     <li><a class="active">...</a></li>
 *     <li><a href="#">...</a></li>
 *     <li><a href="#">...</a></li>
 *     <li><a href="#">...</a></li>
 *     <li><a href="#">...</a></li>
 * </ul>
 */
.paging {
  padding: 0;
  margin: 0 0 1.6em 0;
  list-style: none;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.paging li {
  display: inline-block;
}
.paging a {
  display: block;
  padding: 0.4em 0.8em;
  border: solid 1px #ddd;
  color: #666;
  background: #eee;
}
.paging a:hover, .paging a:focus, .paging a.active {
  border-color: #555;
  color: #f8f8f8;
  background: #888;
}
.paging a.active {
  cursor: default;
}

.media:after {
  display: table;
  clear: both;
  content: '';
}

.media__figure {
  float: left;
  margin-right: 0.8em;
}

.media__body {
  overflow: hidden;
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on March 17, 2015 */
@font-face {
  font-family: 'latobold';
  src: url("../fonts/Lato-Bold-webfont.eot");
  src: url("../fonts/Lato-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Bold-webfont.woff2") format("woff2"), url("../fonts/Lato-Bold-webfont.woff") format("woff"), url("../fonts/Lato-Bold-webfont.ttf") format("truetype"), url("../fonts/Lato-Bold-webfont.svg#latobold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latobold_italic';
  src: url("../fonts/Lato-BoldItalic-webfont.eot");
  src: url("../fonts/Lato-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-BoldItalic-webfont.woff2") format("woff2"), url("../fonts/Lato-BoldItalic-webfont.woff") format("woff"), url("../fonts/Lato-BoldItalic-webfont.ttf") format("truetype"), url("../fonts/Lato-BoldItalic-webfont.svg#latobold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latoitalic';
  src: url("../fonts/Lato-Italic-webfont.eot");
  src: url("../fonts/Lato-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Italic-webfont.woff2") format("woff2"), url("../fonts/Lato-Italic-webfont.woff") format("woff"), url("../fonts/Lato-Italic-webfont.ttf") format("truetype"), url("../fonts/Lato-Italic-webfont.svg#latoitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latoregular';
  src: url("../fonts/Lato-Regular-webfont.eot");
  src: url("../fonts/Lato-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular-webfont.woff2") format("woff2"), url("../fonts/Lato-Regular-webfont.woff") format("woff"), url("../fonts/Lato-Regular-webfont.ttf") format("truetype"), url("../fonts/Lato-Regular-webfont.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.section-banner {
  position: relative;
  background: #e0e0e0;
}

.banner {
  position: relative;
  width: 100%;
}
.banner .slick-dots {
  padding: 0;
  width: 960px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  list-style: none;
}
.banner .slick-dots li {
  display: inline-block;
}
.banner .slick-dots button {
  color: rgba(255, 255, 255, 0.5);
}

.slick-dots .slick-active button {
  color: white;
}

.banner-image {
  position: relative;
  color: white;
}

.banner-image-caption {
  position: absolute;
  top: 10%;
}

.banner-image-caption--title {
  width: 40%;
  margin: 0;
  padding: .3em;
  text-align: right;
  background: #ff9900;
}
.banner-image-caption--title .text-light {
  font-weight: 200;
}

.banner-image-caption--info {
  margin: 0 0 0 7em;
  padding: .5em 1em;
  width: 30%;
  font-size: 12px;
  line-height: 13px;
  color: #222;
  background: white;
}
.banner-image-caption--info:before {
  position: absolute;
  bottom: 60%;
  left: 30%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  content: '';
}

.nav-banner {
  background: transparent;
  border: 0;
}

.image-model {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 0;
}

.section-box {
  position: relative;
  z-index: 1;
  padding-bottom: 3em;
}

.box {
  padding: .5em;
  border: 1px solid #A4A697;
  -webkit-border-radius: .5em;
          border-radius: .5em;
  background: -webkit-linear-gradient(0deg, #E3E3DD, #F2F2F2);
  background: linear-gradient(90deg, #E3E3DD, #F2F2F2);
  -webkit-box-shadow: inset 0 0 0 1px white;
          box-shadow: inset 0 0 0 1px white;
}

.box-title {
  margin: 0 0 0.3em 0;
  color: #ff0000;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.box-anchor {
  margin-right: .3em;
  color: #222;
  float: right;
}

.article-view {
  padding: .5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.article-view:last-child {
  border-bottom: 0;
}

.article-anchor {
  color: #ff0000;
}

.article-view-img {
  float: left;
  margin-right: .5em;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font: 400 12px "latoregular", sans-serif;
  line-height: 1.6em;
}

body {
  color: #3c3c3c;
  background: #e0e0e0;
}

a {
  color: #0094ed;
  text-decoration: none;
}
a:hover, a:focus {
  color: #0074ba;
}

label,
input,
button,
select,
textarea {
  font-family: "latoregular", sans-serif;
}

figure {
  margin: 0 0 1.6em 0;
}

strong,
b {
  font-family: 'latobold';
}

em,
i {
  font-family: 'latoitalic';
}

strong i,
strong em,
b i,
b em,
i strong,
i b,
em strong,
em b {
  font-family: 'latobold_italic';
}

.block {
  margin-bottom: 1.6em;
}

.container {
  width: 95%;
  max-width: 960px;
  margin: 0 auto;
}

.main-header {
  padding: .5em;
  width: 100%;
  background: #e0e0e0;
}

.logo {
  margin: 1em 0;
  display: inline-block;
}

.nav-primary-list {
  position: relative;
  padding: 0 1em;
  float: left;
}
.nav-primary-list:after {
  position: absolute;
  top: 0;
  left: 100%;
  color: white;
  content: '|';
}
.nav-primary-list:last-child:after {
  content: '';
}

.nav-primary-anchor {
  color: rgba(255, 255, 255, 0.7);
}
.nav-primary-anchor:hover {
  color: white;
}

.nav-primary {
  margin: 3em 0 0 0;
  font-size: 12px;
  float: right;
}
.nav-primary ul {
  margin: 0 0 0 1em;
  padding: .2em 1em;
  float: left;
  background: #006ca9;
  list-style: none;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.nav-secondary {
  float: right;
}
.nav-secondary ul {
  list-style: none;
}

.nav-secondary-list {
  padding: 1em 0 1em 1em;
  float: left;
}

.nav-secondary-anchor {
  color: rgba(0, 0, 0, 0.7);
}
.nav-secondary-anchor:hover {
  color: black;
}

.fix-padding {
  padding-left: 0;
}

.mini-images-img {
  margin: 0 1em;
}

.block-half {
  margin-bottom: .8em;
}

.main-footer {
  padding: 1.5em;
  background: #333333;
}

.nav-foooter-list {
  padding: 1em 0;
  list-style: none;
}
.nav-foooter-list li {
  padding: 0 .5em 0 0;
  float: left;
}

.nav-footer-list-anchor {
  color: #717171;
}
.nav-footer-list-anchor:hover {
  color: #D6D7D0;
}

.sub-footer {
  color: #717171;
}

.footer-logo {
  position: relative;
  padding: 1em 0;
  font-size: 14px;
}

.footer-logo__whychoose {
  position: absolute;
  top: 50%;
  left: -10%;
}

.footer-logo__logo {
  position: absolute;
  top: 0;
  right: 0;
}
